{% extends "layout.html" %}

{% block page_title %}
  Digital training
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        CodeKatalog
        {# <span class="heading-secondary">{{releaseVersion}}</span> #}
      </h1>{{releaseVersion | log }}

<div class="grid-row">
    <div class="column-one-half cards">
    <div class="card">
        <h2 class="heading-small">Browse the Katalog</h2>
        <p>Find katas that will develop your knowledge</p>
        <a href="/browse" role="button">Browse katas</a>
    </div>
    </div>

    <div class="column-one-half">
    <div class="card">
        <h2 class="heading-small">Create a kata for the Katalog</h2>
        <p>Contribute a kata</p>
        <a href="#" role="button">Create a new kata</a>
        </div>
    </div>
</div>

{# <div class="grid-row"> #}
    {# <div class="column-one-half">
          <div class="data">
        <span class="data-item bold-xxlarge">12</span>
        <span class="data-item bold-xsmall">Katas completed so far</span>
    </div>
    </div>
    <div class="column-one-half">
          <div class="data">
        <span class="data-item bold-xxlarge">2</span>
        <span class="data-item bold-xsmall">Solutions to review</span>
    </div>
    </div> #}
{# </div> #}

    </div>
  </div>
</main>

{% endblock %}


