{% extends "layout.html" %}

{% block page_title %}
Katalogue
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Remove String Spaces</h1>
      <h2 class="heading-large">Description</h2>
      <p>
        Write	a	function	that	takes	in	a	string	and	returns	the	string	with	all	spaces	removed.
      </p>
      <h2 class="heading-large">Examples</h2>
      <ul class="list list-bullet">
        <li>Passing	in	"h	e	l	l	o	"	should	return	"hello"</li>
        <li>Passing	in	"hello"	should	return	"hello"</li>
      </ul>
      <a href="/browse" class="link-back">Back</a>
    </div>
  </div>
</main>

{% endblock %}
