{% extends "layout.html" %}

{% block page_title %}
  Katalogue
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Katalogue
        {# <span class="heading-secondary">{{releaseVersion}}</span> #}
      </h1>{#{{releaseVersion | log }}#}
      <p class="lede">
        blah blah blah
      </p>

<div class="grid-row">
    <div class="column-one-half">
          <div class="data">
        <span class="data-item bold-xxlarge">12</span>
        <span class="data-item bold-xsmall">Katas completed so far</span>
    </div>
    </div>
    <div class="column-one-half">
          <div class="data">
        <span class="data-item bold-xxlarge">2</span>
        <span class="data-item bold-xsmall">Solutions to review</span>
    </div>
    </div>
</div>

			<h2 class="heading-medium">Available Katas</h2>

			{# <ul class="list list-numbered">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
            </ul> #}

        <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span>
            Katas for beginners
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="divisible-completed">
                Divisible
              </a>
              <strong class="task-completed" id="divisible-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="repeat-string-completed">
                Repeat String
              </a>
              <strong class="task-completed" id="repeat-string-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="removing-spaces-completed">
                Removing Spaces
              </a>
              {# <strong class="task-completed" id="removing-spaces-completed">Completed</strong> #}
            </li>
          </ul>
        </li>
        </ol>


        <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span>
            Katas for thos who have completed 'beginners'
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="heads-completed">
                Heads and legs
              </a>
              <strong class="task-completed" id="heads-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="exam-completed">
                Check exam results
              </a>
              <strong class="task-completed" id="exam-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="nth-completed">
                Nth Smallest
              </a>
              {# <strong class="task-completed" id="removing-spaces-completed">Completed</strong> #}
            </li>
          </ul>
        </li>
        </ol>

    </div>
    <div class="column-one-third">
        <h3 class="heading-small">Add Kata</h2>
        <a href="#" class="button" role="button">Add Kata</a>
    </div>
  </div>
</main>

{% endblock %}


